.list {
    display: flex;
    align-items: flex-start;
    height: 100%;
    flex-wrap: nowrap;
    max-width: 75%;

}

.child {
    background: #bbe3f5;
    margin: 1rem;
    padding: 1em 2em;
    border: 1px dotted cornflowerblue;
    border-radius: 2%;
}

.card-body.active {
    background: rgba(255, 255, 0, 0.4);
}


/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/